.footer {
    width: 100%;

    background-color: rgb(39, 48, 67);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .wrap {
    width: 85%;
    height: 100%;
    background-color: none;

    display: flex;
    justify-content: space-between;
    padding: 15px;
  
}

.footer .wrap .boxA1 {
    width: 20%;
}

.footer .wrap h1 {
    color: white;
}
.footer .wrap .boxA1 .p1 {
    font-size: small;
    width: 100%;
    margin: 0;
    color: white;
}

.footer .wrap .boxA1 button {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    color: white;
    background-color: #273043;
    border: 2px solid white;
}
.footer .wrap .boxP2 {
    width: 25%;
}

.footer .wrap .boxP2 h3 {
    margin: 0;
    padding: 3px;
    color: white;
}
.footer .wrap .boxP3 {
    width: 20%;
}
.footer .wrap .boxP3 ul {
    width: 80%;
}
.footer .wrap .boxP3 li {
    list-style: none;
    color: white;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 7px 0;
    padding-bottom: 5px;
    margin-left: -40px;
    :hover {
        color: orange;
    }
}
.footer .wrap .boxP3 li p {
    margin: 0 0 0 10px;
}
.footer .wrap .boxC4 {
    width: 20%;
}
.footer .wrap .boxC4 .flex {
    align-items: center;

    width: 100%;
    display: flex;
}
.footer .wrap .boxC4 .flex .icon {
    font-size: 30px;
    color: white;
}
.footer .wrap .boxC4 .flex p {
    color: white;
    margin-left: 20px;
}

